<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteURL</key>
	<string>http://data.fingal.ie/datasets/xml/Bring_Banks.xml</string>
	<key>localURL</key>
	<string>Bring_Banks.xml</string>
	<key>Last-Modified</key>
	<string>Thu, 04 Aug 2011 14:57:58 GMT</string>
	<key>Etag</key>
	<string>&quot;1e893de6b652cc1:2262&quot;</string>
</dict>
</plist>
