<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteURL</key>
	<string>http://data.fingal.ie/datasets/kml/Bring_Banks.kml</string>
	<key>localURL</key>
	<string>Bring_Banks.kml</string>
	<key>Last-Modified</key>
	<string>Mon, 15 Nov 2010 10:57:55 GMT</string>
	<key>Etag</key>
	<string>&quot;74f8d5f4b384cb1:1f37&quot;</string>
</dict>
</plist>
